body {
  margin: 0;
  font-family: "Playfair Display";
  font-size: 14px;

  line-height: 1.6;
  color: #626262;
}

*,
*::before *::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Conteiner */

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  max-width: 1065px;
  z-index: 1;
}

.container_2{
  width: 893px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

.header {
  margin-top: 70px;
}

.header_logo {
  width: 119px;
  height: 23px;

  color: #000000;

  font-family: "Inconsolata", monospace;
  font-size: 30px;

  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;

  text-decoration: none;
  letter-spacing: 6px;
}

.clr {
  clear: both;
}

/* Navigation */

.nav {
  font-weight: 400;

  line-height: 24px;
  text-transform: uppercase;
  float: right;

  color: #626262;
}

.nav_link {
  margin-left: 100px;

  display: inline-block;
  vertical-align: top;
  position: relative;

  text-decoration: none;
  color: #626262;
}

/* Image */

.image_logo {
  width: 1061px;
  height: 509px;
  margin-top: 70px;
  margin-bottom: 100px;
}

/* Title */

.title{
  margin-top: 15px;

  color: #626262;
  font-family: "Playfair Display";
  font-size: 30px;
  font-weight: 400;
}

.title_text{
  margin-top: 35px;
  margin-bottom: 50px;

  color: #626262;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.subtitle {
  color: #b4ab9e;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase; 
}
