@import url('https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display|Ubuntu&display=swap');
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css'); */
/* @import "../media/media.css"; */

@import './small.css';
@import './grid.css';

:root{
  --playfailFont: "Playfair Display": 
  --inconsolataFont: "Inconsolata";
  --ubuntuFont: "Ubuntu";
  --bodyColor: #626262; 
  --postColor: #b4ab9e;
  --newslatterColor: #333333;
  --navColor: #797979;

  /* Spacing */
  --gutterWidth: 30px;
  
  /* Braikpoints */
  --sm: 768px;
  --md: 992px;
  --lg: 1170px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--playfailFont);
  font-size: 16px;
  font-weight: 400;

  line-height: 1.6;
  color: var(--bodyColor);
}

/* Container */
.container {
  max-width: 893px;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--gutterWidth)/2);
  padding-right: calc(var(--gutterWidth)/2);
}


/* Header */
.header {
  padding-top: 70px;
}

.header_logo {
  max-width: 119px;
  height: 23px;

  color: black;

  font-family: var(--inconsolataFont);
  font-size: 30px;

  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;

  text-decoration: none;
  letter-spacing: 6px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navigation */
.nav {
  position: relative;
}

.nav:hover .nav-menu,
.nav:focus .nav-menu {
  display: block;
}

.nav-btn {
  border: 1px solid var(--bodyColor);
  padding: 8px 16px;
  font-size: 16px;
}
/* 
@media screen and (min-width: 768px){
  .nav-btn {
    display: none;
  }
} */

.nav-menu {
  display: none;

  position: absolute;
  top: 100%; right: 0;

  background-color: white;
  border: 1px solid var(--bodyColor);
  padding: 8px;
}

@media screen and (min-width: 768px){
  .nav-menu {
    display: block;

    position: relative;
    top: initial; right: initial;

    border: 0;
    padding: 0;
  }
}

.nav_menu_link {
  position: relative;

  color: var(--bodyColor);

  padding: 4px 8px;

  text-transform: uppercase;
  text-decoration: none;
}

.nav_menu_link::after {
  display: none;
  content: '';

  height: 1px;

  position: absolute;
  bottom: 0; left: 0; right: 0;

  background-color: var(--bodyColor);

  margin-left: 8px;
  margin-right: 8px;
}

.nav_menu_link:last-child {
  margin-right: -8px;
}

.nav_menu_link:hover {
  color: var(--bodyColor);
  /* text-decoration: underline; */
}
.nav_menu_link:hover::after {
  display: block;
}


/* .nav {
  font-weight: 400;

  line-height: 24px;
  text-transform: uppercase;
  float: right;
}

.nav_link span{
  margin-left: 100px;

  display: inline-block;
  vertical-align: top;
  position: relative;

  text-decoration: none;
  color: var(--bodyColor);
}

.nav_link span::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;

  background-color: var(--bodyColor);
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0%;
  z-index: 2;

  transition: opacity 0.1s linear;
}

.nav_link span:hover {
  color: var(--bodyColor);
}

.nav_link span:hover,
.nav_link span::after {
  opacity: 1;
}

.icon_item {
  margin-left: 100px;
  padding-top: 8px;

  display: inline-block;
  vertical-align: top;
  position: relative;

  color: var(--bodyColor);
} */

/* Presentation */

.presentation_img {
  margin: 0 auto;
  display: block;
  max-width: 100%;

  z-index: 1;
}


/* Post */

.post {
  margin-top: 133px;
}

.post_img{
  display: block;
  width: 100%;
}

.post_title {
  margin-top: 15px;

  color: var(--bodyColor);
  font-family: var(--playfailFont);
  font-size: 24px;
  font-weight: 400;
}

@media screen and (min-width: 768px){
  .post_title { font-size: 26px; }
}

@media screen and (min-width: 992px){
  .post_title { font-size: 28px; }
}

@media screen and (min-width: 1170px){
  .post_title { font-size: 30px; }
}

.post_subtitle {
  color: var(--postColor);
  font-family: var(--ubuntuFont);
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}


.post_description {
  margin-top: 35px;
  margin-bottom: 50px;

  color: var(--bodyColor);
  font-family: var(--playfailFont);
  font-weight: 400;
  line-height: 24px;
}


/* NewsLetter */

.section_newslatter_content {
  width: 100%;

  background-color: #f0f0f0;
  padding-top: 75px;
  padding-bottom: 75px;
}

.section_newslatter_title {
  margin-bottom: 69px;
  text-align: center;
  color: var(--newslatterColor);
  font-family: var(--playfailFont);
  font-size: 30px;
  letter-spacing: 0.75px;
}

.section_newsletter_form {
  position: relative;
  width: 404px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #000000;
  display: block;
}

.section_newslatter_form_input {
  background: none;
  border: none;

  padding: 14px 46px 14px 0px;
  width: 100%;
  color: var(--bodyColor);
  font-family: var(--playfailFont);
  font-size: 14px;
  display: block;
}

.section_newsletter_form_button {
  background: none;
  border: none;

  position: absolute;
  right: 0%;

  top: 50%;
  transform: translate(0, -50%);
}

/* Button */

.section_button {
  position: relative;
  padding-top: 82px;
  padding-bottom: 100px;
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  padding: 15px 32px;

  background-color: white;
  color: var(--bodyColor);
  border: 1px solid black;
  text-align: center;

  font-size: 20px;
  font-family: var(--playfailFont);
}

.button:hover {
  background-color: var(--bodyColor);
  color: white;
  cursor: pointer;
}

/* Footer */

.footer {
  padding: 40px 71px 45px 0px;
  font-size: 14px;
  background: #f0f0f0;
}

.nav_left {
  padding-left: 150px;
  float: left;
}

.nav_left a {
  padding-right: 17px;
  float: left;

  font-family: var(--playfailFont);
  color: black;
  text-decoration: none;
}

.nav_left a:hover {
  color: var(--navColor);
}

.nav_right {
  float: right;
}

.nav_right a {
  padding-left: 18px;
}

.nav_right a:hover {
  color: var(--navColor);
}

.nav_right span {
  font-family: var(--playfailFont);
  color: black;
}
