@import url('https://fonts.googleapis.com/css?family=Inconsolata|Playfair+Display|Ubuntu&display=swap');
/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css'); */
@import "../media/media.css";

:root{
  --playfailFont: "Playfair Display": 
  --inconsolataFont: "Inconsolata";
  --ubuntuFont: "Ubuntu";
  --bodyColor: #626262; 
  --postColor: #b4ab9e;
  --newslatterColor: #333333;
  --navColor: #797979;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--playfailFont);
  font-size: 14px;

  line-height: 1.6;
  color: var(--bodyColor);
}

/* Conteiner */

.container {
  max-width: 893px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

.header {
  padding-top: 70px;
}

.header_logo {
  max-width: 119px;
  height: 23px;

  color: black;

  font-family: var(--inconsolataFont);
  font-size: 30px;

  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;

  text-decoration: none;
  letter-spacing: 6px;
}

/* Navigation */

.nav {
  font-weight: 400;

  line-height: 24px;
  text-transform: uppercase;
  float: right;
}

.nav_link span{
  margin-left: 100px;

  display: inline-block;
  vertical-align: top;
  position: relative;

  text-decoration: none;
  color: var(--bodyColor);
}

.nav_link span::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;

  background-color: var(--bodyColor);
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0%;
  z-index: 2;

  transition: opacity 0.1s linear;
}

.nav_link span:hover {
  color: var(--bodyColor);
}

.nav_link span:hover,
.nav_link span::after {
  opacity: 1;
}

.icon_item {
  margin-left: 100px;
  padding-top: 8px;

  display: inline-block;
  vertical-align: top;
  position: relative;

  color: var(--bodyColor);
}

/* Presentation */

.presentation_img {
  margin: 0 auto;
  display: block;
  max-width: 100%;

  z-index: 1;
}


/* Post */

.post {
  margin-top: 133px;
}

.post_img{
  display: block;
  max-width: 100%;
}

.post_title {
  margin-top: 15px;

  color: var(--bodyColor);
  font-family: var(--playfailFont);
  font-size: 30px;
  font-weight: 400;
}

.post_subtitle {
  color: var(--postColor);
  font-family: var(--ubuntuFont);
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.post_description {
  margin-top: 35px;
  margin-bottom: 50px;

  color: var(--bodyColor);
  font-family: var(--playfailFont);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}


/* NewsLetter */

.section_newslatter_content {
  width: 100%;

  background-color: #f0f0f0;
  padding-top: 75px;
  padding-bottom: 75px;
}

.section_newslatter_title {
  margin-bottom: 69px;
  text-align: center;
  color: var(--newslatterColor);
  font-family: var(--playfailFont);
  font-size: 30px;
  letter-spacing: 0.75px;
}

.section_newsletter_form {
  position: relative;
  width: 404px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #000000;
  display: block;
}

.section_newslatter_form_input {
  background: none;
  border: none;

  padding: 14px 46px 14px 0px;
  width: 100%;
  color: var(--bodyColor);
  font-family: var(--playfailFont);
  font-size: 14px;
  display: block;
}

.section_newsletter_form_button {
  background: none;
  border: none;

  position: absolute;
  right: 0%;

  top: 50%;
  transform: translate(0, -50%);
}

/* Button */

.section_button {
  position: relative;
  padding-top: 82px;
  padding-bottom: 100px;
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  padding: 15px 32px;

  background-color: white;
  color: var(--bodyColor);
  border: 1px solid black;
  text-align: center;

  font-size: 20px;
  font-family: var(--playfailFont);
}

.button:hover {
  background-color: var(--bodyColor);
  color: white;
  cursor: pointer;
}

/* Grid */

.row {
  margin-left: -30px;
  margin-right: -30px;
}

.row::before,
.row::after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

.col {
  padding-left: 30px;
  padding-right: 30px;
  width: 50%;
  float: left;
}

/* Footer */

.footer {
  padding: 40px 71px 45px 0px;
  font-size: 14px;
  background: #f0f0f0;
}

.nav_left {
  padding-left: 150px;
  float: left;
}

.nav_left a {
  padding-right: 17px;
  float: left;

  font-family: var(--playfailFont);
  color: black;
  text-decoration: none;
}

.nav_left a:hover {
  color: var(--navColor);
}

.nav_right {
  float: right;
}

.nav_right a {
  padding-left: 18px;
}

.nav_right a:hover {
  color: var(--navColor);
}

.nav_right span {
  font-family: var(--playfailFont);
  color: black;
}

@media screen and (min-width:989px){
  .icon_item {
    display: none;
  }
}

@media screen and (max-width: 989px) {
  .nav_link span {
    margin-left: 65px;
  }
  .icon_item {
    display: none;
  }
  .nav_left {
    padding-left: 100px;
}
}

@media screen and (max-width: 849px) {
  .header {
    padding-top: 55px;
  }
  .container{
    max-width: 100%;

  }
  .header_logo{
    font-size: 24px;

  }
  .nav_link span {
    margin-left: 35px;
  }
  .icon_item {
    display: none;
  }
  .post_title{
    font-size: 28px;
  }
  .nav_left {
    padding-left: 70px;
}
}

@media screen and (max-width: 784px) {
  .nav_link span {
    margin-left: 25px;
  }
  .icon-item {
    display: none;
  }
  .post{
    margin-top: 70px;
  }
  .post_title{
    font-size: 25px;
  }
  .post_description{
    margin-top: 18px;
    margin-bottom: 25px;
  }
  .section_newslatter_content{
    padding: 40px 0;
  }
  .section_newslatter_title{
    margin-bottom: 40px;
    font-size: 25px;
  }
  .section_newsletter_form{
    width: 370px;
  }
  .nav_left {
    padding-left: 55px;
}
}

@media screen and (max-width: 684px) {
  .nav_link span {
    display: none;
  }
  .icon_item {
    display: inline-block;
    margin-left: 25px;
  }
  .post_title{
    font-size: 22px;
  }
}

@media screen and (max-width: 559px){
  .post{
    margin-top: 50px;
  }
  .post_subtitle{
    font-size: 12px;
  }
  .post_description{
    margin: 15px 0;
    font-size: 12px;
  }
  .section_newslatter_form{
    width: 345px;
  }
  .section_button{
    padding-top: 50px;
    padding-bottom: 85px;
  }
  .footer{
    padding: 25px 70px 40px 0px;
    font-size: 12px;
  }
} 